<!-- src/app/nav-bar/nav-bar.component.html -->
<nav class="bg-gray-800 p-4 flex justify-between items-center space-x-4">
    <header class="text-center text-white">
        <h1 class="text-4xl font-bold">OtakuVerse</h1>
      </header>
    <div class="flex-1 flex justify-end">
      <input type="text" placeholder="Search" class="px-14 py-2 rounded-lg border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent w-full max-w-md">
    </div>
    <div class="flex items-center space-x-4">
        <button class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 transition">Login</button>
        <button class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 transition">Sign Up</button>
      </div>
  </nav>
  